<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   <!--  default-init-method = "init" --> 
   <!--  default-destroy-method = "destroy" --> 
   

   <bean id = "helloWorld" class = "com.phani.helloworld.HelloWorld">
     <property name = "message" value = "Hello World!"/>
   </bean>

   <bean id = "helloIndia" class = "com.phani.helloworld.HelloIndia" parent = "helloWorld">
      <property name = "message" value = "Hello India!"/>
      <property name = "message1" value = "Namaste India!"/>
   </bean>
   
      <!-- Definition for textEditor bean using inner bean -->
   <bean id = "textEditor" class = "com.sample.TextEditor">
      <property name = "spellChecker">
         <bean id = "spellChecker" class = "com.sample.SpellChecker"/>
      </property>
   </bean>
   
</beans>




   